<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">
    <%= @contact.first_name %> <%= @contact.last_name %>
  </h1>
  <p class="lead"><%= @contact.email %>   |   <%= @contact.phone %>   |   <%= @contact.twitter %></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-secondary" %>
  <%= link_to 'Back', contacts_path, class:"btn btn-dark" %>
</div>
